<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertDeprecationsToExceptions="false"
>
   <testsuites>
        <testsuite name="Application">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Lexer">
            <file>tests/LexerTest.php</file>
        </testsuite>
        <testsuite name="Parser">
            <file>tests/ParserTest.php</file>
        </testsuite>
        <testsuite name="DSQLInterpreter">
            <file>tests/DSQLInterpreterTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>